/* ############################################# Concerne des surcharges générales */
/* Surcharge body */
    body {
        margin-top: 2px;
        font-family: "Segoe UI","Helvetica Neue",Arial,"Open Sans","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        background-color:#f3fdfb;
    }

    /*Logo*/
    .logoHomePage {
        position: relative;
        width:30em;
        height:30em;
    }
/* Surcharge des liens */
    a {
        color: white;
    }

    a.confer {
        cursor: pointer;
    }
    a:hover {
        opacity: 0.75;
        text-decoration: none;
        color: white;
    }
   
    .linkGlobal {
        color: #007bff !important;
        cursor: pointer;
    }
    .linkGlobal:hover {
        color: #007bff;
    }

    .linkGlobalDisabled {
        color: #6c757d !important;
        cursor: pointer;
    }
    .linkGlobalDisabled:hover {
        color: #6c757d;
    }
    
/* Disparition des puces dans le footer */
    footer ul { 
        list-style-type: none;
    }
/* Ajoute un espace entre les paragraphes comme dans srgpd */
    .spaceLi {
        margin-top:20px;
        text-align: justify;
    }
/* Couleur des * pour signaler les champs obligatoires */
    .starColor {
        color: red;
    }
/* Pour centrer dans les td */
    .tdCenter {
        text-align: center;
    }
/* Pour enlever le cursor */
    .noCursor {
        cursor: not-allowed! important;
    }
/* Pour mettre le cursor */
    .yesCursor {
        cursor: pointer! important;
    }
    
/* ############################################# Concerne les logos */
/* Police des logos */
    .familyLogoText {
        font-family: 'Roboto Condensed', sans-serif;
        text-decoration : none;
        margin : auto 0px auto 0px;
        font-size: 4rem;
    }
/* Taille des logos */
    .logoGlobal {
        width:290px;
    }
/* Couleur pour les logos */
    .logo {
        display : flex;
    }
    .logo > .orange, .gris {
        margin : auto 0px auto 0px;
        text-decoration : none;
    }
    .logo > .orange {
        color:#e96e00;
    }
    .logo > .gris {
        color:#6f6f6f;
    }
/* ############################################# Concerne le menu de navigation */
    .sousTitreNavItem {
        font-size: 1.25rem;
        color:#fff;
    }
    .listeItemNav {
        list-style-type: circle;
        font-size: 1rem;
        padding-left: 1.5rem;
    }


/* ############################################# Concerne les titres des pages */

/* Titre des pages */
    .titlepage {
        text-align: center;
        text-decoration: none;
        text-decoration-color: orange;
    }
    #serviceTitle h1.card-title {
        color: white;
        text-align: center;
        font-size: 2rem;
        background-color: #f4511e;
        padding: 1rem;
    }

/* ############################################# Concerne l'intranet */
/* même architecture mais en bleu */

/* titre des pages */
    #serviceTitle-intranet h1.card-title {
        color: white;
        text-align: center;
        font-size: 2rem;
        background-color: #007bff;
        padding: 1rem;
    }

/* titre des vignettes */
    .card-header-intranet {
        background-color: #007bff;   
        border: none;
        color: white;
        text-align: center;
        font-size: x-large;
        opacity: 1;
        transition: 0.3s;
        padding: 0.75rem;
    }

/* ############################################# Concerne les boutons speciaux */
/* Menu Connexion et langue */
    .changeLangue {
        position: absolute;
        right:0px;
        margin-left: 1rem;
        margin-top: 76px;
    }
    .smallSize {
        font-size: 0.60rem;
    }
/* Bouton langue */
    .btnLangueSelected {
        background-color:#28a745;
        border-color: #28a745;
    }
/* Bouton connexion / Deconnexion */
    .connexion {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3rem;
        margin-left: 1rem;
    }
/* Bouton moteur de recherche */
    .btn-outline-success {
        border-width:0;
    }
    .btn-outline-danger {
        border-width:0;
    }
    .archiveButton {
        color: white;
        position:absolute;
        top: 7px;
        right: 7px;
    }
    .archiveButton:hover {
        color: white;
        border-color: white;
        cursor: pointer;
    }
    .actionButton {
        color: #343a40;
    }
    .actionButton:hover {
        color: #343a40;
        border-color: #343a40;
        cursor: pointer;
    }
    .actionButtonWhite {
        color: #ffff;
    }
    .actionButtonWhite:hover {
        color: #ffff;
        border-color: #ffff;
        cursor: pointer;
    }
    .actionFicheStepButton {
        color: white;
        position:absolute;
        top: 17px;
        right: 7px;
    }
    .actionFicheStepButton:hover {
        color: white;
        border-color: white;
        cursor: pointer;
    }


/* ############################################# Concerne les modals */
    .modal .card-body {
        padding: 0 1.25rem;
    }
    .modal .card-body ul li p {
        margin-left: 1rem;
        margin-bottom: 0!important;
    }
    .modal-content {
        background-color: rgb(253, 255, 255);
        border: 0px;
    }
    .modal-content ul {
        list-style-type: none;
        padding-left: 0px;
    }
    .modal-header {
        background-color: #f4511e;
        color: white;
    }
    .modal-header .close {
        color: white;
        font-weight: bold;
        margin: -1rem -1rem -1rem 0;
    }
    .modal-header h1 {
        margin: 0!important;
        padding: 0 0 0 3rem;
        text-align: center;
    }
    .modal-footer .btn {
        display: initial;
        width: 100%;
    }
    .listeModal li {
        font-size: 1.1rem;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    ul.ulmodal {
        background-color: #f0683e;
        padding: 15px;
        font-size: large;
        color: white;
        text-align: justify;
    }
    .largeModal {
        max-width: 70%;
    }
    .checkSuccess{
        color: green;
    }
    .alertDangerFontAwesome {
        color: #721c24;
        border-color: #f5c6cb;
    }
    
/* ############################################# Concerne les afficher/masquer */
    .divAffMask {
        width: 190px;
        margin-bottom: 3px;
    }
    .affMask {
        cursor: pointer;
        padding: 1rem 0.5rem;
        margin: -1rem -1rem -1rem auto;
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;

    }

/* ############################################# Concerne les vignettes */
    .card-header {
        background-color: #f4511e;   
        border: none;
        color: white;
        text-align: center;
        font-size: x-large;
        opacity: 1;
        transition: 0.3s;
    }
    .card-header:hover {
        opacity: 0.8
    }
    .card-img-top {
        width:200px;
    }
    .card-text {
        text-align: justify;
        padding: 0 20px;
    }
    .card-text-services {
        margin-bottom: 2rem;
        margin-top: 1rem;
        font-size: 1.1rem;
    }
    .card-title {
        display:flex;
        justify-content: center;
    }
    .card-body ul li p {
        padding: 10px;
    }
    .row > .card {
        display: flex;
        width: 400px;
    }
    .row > .card > .cardListeServices {
        height: 360px;
    }
    .row > .card > .cardService {
        display: flex;
        width: 400px;
        height: 300px;
    }
    .textGrey {
        color: grey;
    }
    .hauteurAuto {
        height: auto !important;
    }
    .hauteurDescriptionVignette {
        min-height: 120px;
    }
    .hauteurAuthentification {
        min-height:400px;
    }
    .spaceBottomLarge {
        min-height: 300px;
    }
    .vignetteModifier > .row > .card  {
        width: 600px;
    }
    .vignetteAjouter > .row > .card  {
        width: 600px;
    }
    .vignetteContact > .row > .card  {
        width: 800px;
    }
    .vignetteDetaiStep > .row > .card  {
        width: 90%;
    }
    .AffichageButtonMenuBreadCrumb {
        position:relative;
        float: right;
        top: -60px;
        right: 15px;
        margin-bottom: -60px;
    }
    .ButtonMenuBreadCrumb {
        color: green;
    }
    .ButtonMenuBreadCrumb:hover {
        color :green;
        border-color: green;
        cursor: pointer;
    }
    .ButtonMenuBreadCrumbTrieD:hover {
        color :#dc3545;
        border-color: #dc3545;
        cursor: pointer;
    }
    .ButtonMenuBreadCrumbTrieV:hover {
        color :#aa66cc;
        border-color: #aa66cc;
        cursor: pointer;
    }
    .ButtonMenuBreadCrumbTrieW:hover {
        color :#ffc107;
        border-color: #ffc107;
        cursor: pointer;
    }
    .ButtonMenuBreadCrumbTrieI:hover {
        color :#17a2b8;
        border-color: #17a2b8;
        cursor: pointer;
    }
    .BarreSeparationMenuBreadCrumb {
        color: grey;
        font-size: 1rem;
        padding-top: 12px;
    }
    .ButtonMenuModal {
        position: relative;
        right: 20px;
    }
    .colorV {
        color: #aa66cc;
    }
    .colorDanger {
        color: #dc3545;
    }
    .colorWarning {
        color: #ffc107;
    }
    .colorInfo {
        color: #17a2b8;
    }
    .colorAction {
        color: green;
    }

/* ############################################# Paiement */
    .choix-service {
        text-align: center;
        border : 1px solid rgba(0,0,0,.15);
        padding:10px;
        margin: auto;
        margin-top: 15px;
        width : 420px;
        border-radius: .25rem;
        background-color: white;
    }
    .choix-service > label {
        margin-top : 5px;
    }
    .choix-service > #nbMois {
        margin : auto;
        width: 100px;
    }

/* ############################################# Concerne les formulaires */
    .tailleInputCreaCpt {
        width:98%;
    }

/* ############################################# Concerne les dataTables */
    .noReturn {
        white-space:nowrap;
    }
    .maxWidth {
        max-width: 70px;
    }
    .dimPourcentage90 {
        width:90%;
    }
    .dimPourcentage50 {
        width:50%;
    }
    .noPaddingRight {
        padding-right: 0px !important;
    }
    .dimPix150 {
        width:50px;
    }
    .traductionColor_fra {
        background-color: #f8fbff;
    }
    .traductionColor_eng {
        background-color: #beffe6;
    }
    .blockquoteSpec {
        margin-left: 1rem;
    }
/* ############################################# TOXIC01 - Concerne les contacts */
    .colorStatusContactSuccess {
        background-color: #448aff;
        color: white;
    }
    .colorStatusContactWarning {
        background-color: #ffa726;
        color: white;
    }
    .colorStatusContactDanger {
        background-color: #e53935;
        color: white;
    }
    .card-footer-contact {
        padding: .5rem;
        background-color:
        rgba(0,0,0,.03);
        border-top: 1px solid
        rgba(0,0,0,.125);
        min-height: 3rem;
    }
    .listeContact > .row > .card  {
        width: 320px;
        height: auto;
    }

    /* Small devices (landscape phones, 420px and up) */
    @media (max-width: 420px ) {
        .container {
            padding-top: 0.1rem;
            padding-right: 0.8rem;
            padding-bottom: 0.1rem;
            padding-left: 0.5rem;
        }
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1,
        .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
        .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
        .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
        .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
        .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
            position: relative;
            width: 100%;
        }
        .navbar {
            left:-10px;
            right: 10px;
            width: 105%;
        }
        .navbar-brand {
            font-size: 1.05rem;
        }
        .familyLogoText {
            font-size: 2.2rem;
        }
        .imgLogo {
            width: 60px;
        }
        .btn-group-lg > .btn, .btn-lg {
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
        }
        .modal-header h1 {
            padding: 0 0 0 0rem;
        }
        .no-marge-sm {
            padding-top: 0rem;
            padding-right: 0rem;
            padding-bottom: 0rem;
            padding-left: 0rem;
            width: 105%;
        }
        .card-body {
            padding: 1.0rem;
        }
        .card-text {
            padding: 0px;
        }
        .row > .card {
            width: 92%;
            height: auto;
        }
        .connecteSous {
            font-size: 1rem;
        }
        .navTextMenu {
            display:none;
        }
        .ml-3, .mx-3 {
            margin-left: 0.1rem !important;
        }
        .mb-5, .my-5 {
            margin-bottom: 0.1rem !important;
            clear: right;
        }
        .m-3 {
            margin: 0.2rem !important;
        }
        .mt-4 {
            margin-top: 0.3rem !important;
        }
        .mb-4, .my-4 {
            margin-bottom: 0.1rem !important;
        }
        .listeContact > .row > .card {
            width: 96% !important;
        }
    }
    /* Small devices (landscape phones, 680px and up) */
    @media (max-width: 680px ) {
        .container {
            padding-top: 0.1rem;
            padding-right: 0.8rem;
            padding-bottom: 0.1rem;
            padding-left: 0.5rem;
        }
        .navbar {
            left:-10px;
            right: 10px;
            width: 105%;
        }
        .navbar-brand {
            font-size: 1.05rem;
        }
        .familyLogoText {
            font-size: 2.2rem;
        }
        .imgLogo {
            width: 60px;
        }
        .mb-4, .my-4 {
            margin-bottom: 0.1rem !important;
        }
        .changeLangue {
            position: relative;
            margin-top: 0.75rem;
            margin-bottom: 0.75rem;
        }
    }
/* Masquer/Afficher des div*/
    .divOn {
        display: block;
    }
    .divOff {
        display: none;
    }
/* FullCalendar */
    .fc-time-grid-event .fc-time, .fc-time-grid-event .fc-title {
        padding: 3px;
    }
    .fc-time-grid-event .fc-time {
        font-size: 1em;
        font-weight:bold;
    }
    .fc-today {
        background: #ffbaa44a !important;
        border: none !important;
    } 
/* ColorPalette */
    .lightGrayColorPalette {
        background-color: #e9ecef;
        width: 100%;
    }
/* Autocompletion */
    .ui-widget {
        z-index: 1051 !important;
        font-size: 1em !important;
        color: #343a40;
        padding: 5px;
    }
    .ui-menu-item-wrapper:hover {
        border: none !important;
        background: #007bff !important;
        color: white;
    }
/* Button copier dans le presse papier */
    .btnCopierCode {
        position: relative;
        left:220px;
        margin-top: 10px;
        margin-bottom: 10px;
    }